<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <head>
    <title>Registro de Horarios</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js&quot"
      ;
      referrerpolicy="origin"
    ></script>
    <!--TinyMCE-->
    <!--Opcion CDN-->
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <!--Opcion descarga-->
    <script th:src="@{/js/tinymce.min.js}"></script>
    <script>
      tinymce.init({
        selector: "#detalles",
        plugins: "textcolor, table lists code",
        toolbar:
          "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code",
      });
    </script>
  </head>
  <body>
    
    <div class="container">
      <h1 style="margin-top: 20px">Registrar Horario</h1>
      <a th:href="@{/horarios/listar/personal}" class="btn btn-primary mb-3 mt-3">
        Regresar
      </a>
      <form
        id="formRegistro"
        th:action="@{/horarios/guardar}"
        method="POST"
        th:object="${horario}"
      >
        <div class="row">
          <div class="col col-md-4">
            <input type="hidden" th:field="*{idhorarios}" />
            <div class="form-group">
              <label for="InputNombre">Dia</label>
              <input
                type="date"
                class="form-control"
                id="fechaDia"
                th:attr="min=${now}"
                name="fechaDia"
              />
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="InputNombre">Hora de Inicio</label>
              <input
                type="time"
                class="form-control"
                id="horaInicial"
                name="horaInicio"
              />
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="InputNombre">Hora Final</label>
              <input
                type="time"
                class="form-control"
                id="horaUltima"
                name="horaFinal"
              />
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="InputNombre"> No.Repeticiones</label>
              <input
                type="number"
                class="form-control"
                id="repeticiones"
                th:field="*{repeticiones}"
                placeholder="0"
              />
            </div>
          </div>
          <div class="col col-md-4">
            <input type="hidden" name="user" th:value="${username}" />
            <div class="form-group" style="margin-top: 10px">
              <label>Numero de Ventanilla</label>
              <select
                class="form-control"
                id="selectVentanilla"
                th:field="*{ventanilla.idventanilla}"
                name="idventanilla"
              >
                <option
                  th:each="ventanillas: ${listaVentanilla} "
                  th:value="${ventanillas.idventanilla}"
                  th:text="${ventanillas.numero}"
                ></option>
              </select>
            </div>
          </div>
          <div class="col col-6">
            <button
              style="margin-top: 20px"
              type="button"
              id="btnRegistro"
              onclick="comparaHoras()"
              class="btn btn-primary"
            >
              Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:src="@{/js/validaciones.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorRegistro != null}">
      new Toast({
        message: "[[${msg_errorRegistro}]]",
        type: "danger",
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
