<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      &quot;
      referrerpolicy="origin"
    ></script>
    <!--TinyMCE-->
    <!--Opcion CDN-->
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <!--Opcion descarga-->
    <script th:src="@{/js/tinymce.min.js}"></script>
    <script>
      tinymce.init({
        selector: "#detalles",
        plugins: "textcolor, table lists code",
        toolbar:
          "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code",
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/horarios/listar/personal}"
                >Horarios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/citas/listar}"
                >Citas</a
              >
            </li>
          </ul>
          <form class="d-flex" th:action="@{/logout}" method="post">
            <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 style="margin-bottom: 20px; margin-top: 20px">
        Listado de Horarios!
      </h1>
      <a
        th:if="${bandera}"
        style="width: 200px"
        th:href="@{/horarios/crear}"
        class="btn btn-primary mb-3"
        >Nuevo Horario</a
      >
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Usuario a Atender</th>
            <th scope="col">Día</th>
            <th scope="col">Hora de Inicio</th>
            <th scope="col">Hora Final</th>
            <th scope="col">No.Ventanilla</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="horario: ${listaHorarios}" class="text-center">
            <td th:text="${horario.user.nombre}"></td>
            <td th:text="${#dates.format(horario.dia, 'EE, d MMM yyyy')}"></td>
            <td
              th:text="${#dates.format(horario.hora_inicio, 'hh:mm aaa')}"
            ></td>
            <td th:text="${#dates.format(horario.hora_fin, 'hh:mm aaa')}"></td>
            <td th:text="${horario.ventanilla.numero}"></td>
            <td>
              <form th:action="@{/horarios/editar}" method="post">
                <input type="hidden" th:value="${horario.idhorarios}" name="idhorarios">
                <button  class="btn btn-warning" type="submit">Editar</button>
              </form>
            </td>
            <td>
              <a
                th:href="@{/horarios/eliminar/{idhorarios} (idhorarios=${horario.idhorarios})}"
                class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
