<!DOCTYPE html>
<html>
  <head>
    <title>Editar documento</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  </head>
  <body>
    <div class="container">
      <h2 class="mb-3">Editar Documento</h2>
      <a th:href="@{/documentos/listar}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <form
        th:action="@{/documentos/guardar}"
        method="POST"
        th:object="${documento}"
        enctype="multipart/form-data"
        id="formDocumentoAdminEdit"
      >
        <div class="row">
          <div class="col col-md-6">
            <input type="hidden" th:field="*{idDocumento}" />
            <div class="form-group col">
              <label>Nombre</label>
              <input
                class="form-control form-control-lg"
                type="text"
                th:field="*{nombre}"
                id="nombreDocumento"
              />
            </div>
          </div>
          <div class="col col-6">
            
            <label class="form-check-label" for="estado">Estado</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{estado}"
                value=true
                id="estadoActivo"
              />
              <label class="form-check-label" for="estado">Activo</label>
              <br />
              <input
              class="form-check-input"
              type="radio"
              th:field="*{estado}"
              value=false
              id="estadoInactivo"
            />
            <label class="form-check-label" for="estado">Inactivo</label>
            </div>
          </div>
          <div class="col col-md-6">
            <button type="button" onclick="formDocumentoEdit()" class="btn btn-primary mt-3">Guardar</button>
          </div>
        </div>
      </form>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:src="@{/js/validaciones.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
