<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<title>Registro de Documentos</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/menu.css}" />

	<!--Toast-->
	<link rel="stylesheet" th:href="@{/css/toast.min.css}" />
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js&quot; referrerpolicy=" origin""></script>

	<!--TinyMCE-->
	<!--Opcion CDN-->
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<!--Opcion descarga-->
	<script th:src="@{/js/tinymce.min.js}"></script>

	<script>
		tinymce.init({
			selector: '#detalles',
			plugins: "textcolor, table lists code",
			toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
		});
	</script>
</head>

<body>
	


	<div class="container" style="margin-top: 30px;">
		<div class="card">
			<div class="jumbotron">
				<h1 style="text-align: center;">Un Archivo</h1>
			</div>
			<form id="formDocumento" th:action="@{/documentosCitas/guardar}" enctype="multipart/form-data" method="POST"  class="container"> 
				<input type="hidden" name="cita" th:value="${idCita}" />
				<input type="hidden" name="documento" th:value="${idDocumento}" />
				<label>Archivo</label>
				<div  class="form-group">
					<input accept=".pdf" name="archivo"  class="form-control" type="file" id="formFile" required>
					<!--<input accept=".pdf" name="archivo"  class="form-control" type="text" id="formFile">-->
				</div>
				<button style="margin-top: 20px;" type="button" onclick="validarDocumento()" class="btn btn-primary">
					<ion-icon name="checkmark"></ion-icon>&nbsp;Guardar
				</button>
			</form>
		</div>
	</div>

	



	<!--Ionicons-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!--Toast-->
	<script th:src="@{/js/toast.min.js}"></script>
	<script th:src="@{/js/validaciones.js}"></script>

	<script th:if="${msg_success != null}">
		new Toast({
			message: '[[${msg_success}]]',
			type: 'success'
		});
	</script>
	<script th:if="${msg_error != null}">
		new Toast({
			message: '[[${msg_error}]]',
			type: 'danger'
		});
	</script>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>




</body>

</html>




<script type="text/javascript">

	$(document).on('change', 'input[type="file"]', function () {
		var fileName = this.files[0].name;
		var fileSize = this.files[0].size;

		if (fileSize > 3000000) {
			new Toast({
      			message: "El archivo no debe superar los 3MB",
      			type: "danger",
    		});
			this.value = '';
			this.files[0].name = '';
		} else {
			// recuperamos la extensión del archivo
			var ext = fileName.split('.').pop();

			// Convertimos en minúscula porque 
			// la extensión del archivo puede estar en mayúscula
			ext = ext.toLowerCase();

			// console.log(ext);

		}
	});
</script>