<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>Registro de Citas</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/menu.css}" />
	<!--Toast-->
	<link rel="stylesheet" th:href="@{/css/toast.min.css}" />
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js&quot; referrerpolicy=" origin""></script>
	<!--TinyMCE-->
	<!--Opcion CDN-->
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<!--Opcion descarga-->
	<script th:src="@{/js/tinymce.min.js}"></script>
	<script>
		tinymce.init({
			selector: '#detalles',
			plugins: "textcolor, table lists code",
			toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
		});
	</script>
</head>
<body>
	<div class="container" style="margin-bottom: 20px;">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h1 style="margin-top: 20px;">Registrar Cita</h1>
					<a th:href="@{/citas/listar/personal}" class="btn btn-primary mt-3 mb-3">Regresar</a>
					<form id="formRegistro" th:action="@{/citas/guardar}" method="POST" th:object="${cita}">
						<input type="hidden" name="user" th:value="${username}">
						<input type="hidden" th:field="*{idCita}" />
						<div class="form-group">
							<label>Fecha</label>
							<input class="form-control form-control-lg" id="fecha" onchange="setHoras()" type="date" th:field="*{fecha}" th:attr="min=${now}">
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label for="appt-time">Escoge la hora de la cita </label>
							<select  class="form-control" id="horasInput" name="hora">
								<option selected>Selecciona una hora</option>
							</select>
						</div>
							<input type="hidden"  id="estadoInput" th:value="false" name="estado" th:field="*{estado}" >
						<div class="form-group" style="margin-top: 10px;">
							<label>Numero de Ventanilla</label>
							<select class="form-control" id="selectVentanilla" th:field="*{ventanilla.idventanilla}">
								<option th:each="ventanillas: ${listaVentanilla} "
									th:value="${ventanillas.idventanilla}" th:text="${ventanillas.numero}"></option>
							</select>
						</div>
						<div class="form-group" style="margin-top: 10px;">
							<label>Servicios</label>
							<select class="form-control" id="selectServicio" th:field="*{servicio.idServicio}">
								<option th:each="servicios: ${listaServicios} "
									th:value="${servicios.idServicio}" th:text="${servicios.nombre}"></option>
							</select>
						</div>
						<button style="margin-top: 20px;" type="button" onclick="citas()" class="btn btn-primary">
							Guardar
						</button>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<!--Ionicons-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<!--Toast-->
	<script th:src="@{/js/toast.min.js}"></script>
	<script th:src="@{/js/validaciones.js}"></script>
	<script th:if="${msg_success != null}">
		new Toast({
			message: '[[${msg_success}]]',
			type: 'success'
		});
	</script>
	<script th:if="${msg_errorRegistro != null}">
		new Toast({
			message: '[[${msg_errorRegistro}]]',
			type: 'danger'
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


	<script th:inline="javascript">
		function setHoras(){
			var fecha = document.getElementById('fecha').value;
			var dia = fecha.substring(8,10);
			var fecha2 = new Date();
			var hoy = fecha2.getDate(); 
			var lista = [];
			let select = document.getElementById('horasInput');
			select.options.length = 0;
			var mensaje;
			if(dia == hoy){
				lista = [[${horaList}]];
				mensaje = "hoy";
				if(lista.length == 0){
					let option = document.createElement("option");
					option.text = "Ya no hay Horas disponibles por el día de hoy";
					select.appendChild(option);
				}
			}else{
				lista =  [[${horasAll}]];
				mensaje = "otros dias";
			}
			let option = document.createElement("option");
			option.text = "Horas para " + mensaje ;
			select.appendChild(option);
			lista.forEach(hora => {
				let option = document.createElement("option");
				option.value = hora;
				option.text = hora + " hrs.";
				select.appendChild(option);
			});
		}
	</script>	
</body>
</html>
