<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <!--TinyMCE-->
    <!--Opcion CDN-->
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <!--Opcion descarga-->
    <script>
      tinymce.init({
        selector: "#detalles",
        plugins: "textcolor, table lists code",
        toolbar:
          "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code",
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/horarios/listar/personal}"
                >Horarios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/citas/listar}"
                >Citas</a
              >
            </li>
          </ul>
          <form class="d-flex" th:action="@{/logout}" method="post">
            <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Listado de Citas</h1>
      <a
        th:if="${banderaListar}"
        th:href="@{/citas/crear}"
        class="btn btn-primary mt-3 mb-3"
        >Nueva Cita
      </a>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Usuario a Atender</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora de la Cita</th>
            <th scope="col">No. Ventanilla</th>
            <th scope="col">Servicio</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" th:each="tmpCita: ${listaCitasConsulta}">
            <td th:text="${tmpCita.user.nombre}"></td>
            <td
              th:text="${#dates.format(tmpCita.fecha, 'EE, d MMM yyyy')}"
            ></td>
            <td th:text="${tmpCita.hora}"></td>
            <td th:text="${tmpCita.ventanilla.numero}"></td>
            <td th:text="${tmpCita.servicio.nombre}"></td>
            <td>
              <span
                th:text="${tmpCita.estado} ? 'Atendida' : 'Pendiente' "
                th:class="${tmpCita.estado} ? 'badge bg-success' : 'badge bg-warning'"
              ></span>
            </td>
            <td>
              
              <a
                th:href="@{/citas/editar/{id} (id=${tmpCita.idCita})}"
                class="btn btn-warning"
              >
                Editar
              </a>
              <a
                th:href="@{/citas/eliminar/{id} (id=${tmpCita.idCita})}"
                class="btn btn-danger"
              >
                Eliminar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorEliminar != null}">
      new Toast({
        message: "[[${msg_errorEliminar}]]",
        type: "danger",
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
