<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  </head>
  <body>
    <div class="container">
      <a th:href="@{/citas/listar/personal}" class="btn btn-primary mb-3 mt-3">
        Regresar
      </a>
      <div class="row">
        <div class="col-9">
          <div class="card mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <h2 class="mb-3" th:text="${cita.user.nombre}"></h2>
                  <h2
                    class="mb-3"
                    th:text="${#dates.format(cita.fecha, 'EE, d-MM-yyyy')}"
                  ></h2>
                  <h2 class="mb-3" th:text="${cita.hora}"></h2>
                  <h2
                    class="mb-3"
                    th:text="${cita.estado} ? 'Atendido':'Pendiente'"
                  ></h2>
                  <h2
                    class="mb-3"
                    th:text="${'Ventanilla: ' + cita.ventanilla.numero}"
                  ></h2>
                  <h2 class="mb-3" th:text="${cita.servicio.nombre}"></h2>
                  <h2 class="mb-3" th:text="${'Costo: $'+ cita.servicio.precio}"></h2>
                  <div class="row">
                    <div class="col col-md-6">
                      <h3>Documentos Requeridos</h3>
                      <div th:each=" documento : ${cita.servicio.documento}">
                        <h5 th:text="${documento.nombre}"></h5>
                        <a
                          th:href="@{/documentosCitas/documentacion/{cita}/{doc} (cita=${cita.idCita}, doc=${documento.idDocumento})}"
                          th:text="${'Cargar ' + documento.nombre}"
                          class="btn btn-success"
                        ></a>
                      </div>
                    </div>
                    <div class="col col-md-6">
                      <h3>Documentos Cargados</h3>
                      <div th:if="${bandera}">
                        <div th:each=" documentos : ${listaDocs}">
                          <p th:text="${documentos.documento.nombre}"></p>
                          <a th:href="@{/imagenes/{i} (i=${documentos.archivo})}" target="_blank">Descargar [[${documentos.archivo}]]</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3>Pago:</h3>
                  <div th:if="${!transaccion}">
                    <a
                      th:href="@{/transacciones/crear/{cita} (cita=${cita.idCita})}"
                      class="btn btn-success"
                    >Realizar Pago</a>
                  </div>
                  <div th:if="${transaccion}">
                    <span class="badge bg-success">Servicio Pagado</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorMostrar != null}">
      new Toast({
        message: "[[${msg_errorMostrar}]]",
        type: "danger",
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
