<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Editar usuario</title>
  </head>
  <body>
    <div class="container">
      <h1>Editar usuario</h1>
      <a th:href="@{/usuarios/lista}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <form
        th:action="@{/usuarios/modificarUsuario}"
        method="post"
        th:object="${user}"
        id="formEditUser"
      >
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="nombre"
            onchange="fillEmail()"
            th:field="*{nombre}"
            
          />
          <div
            th:if="${#fields.hasErrors('nombre')}"
            th:errors="*{nombre}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <div class="mb-3">
          <label for="apellido1" class="form-label">Apellido paterno:</label>
          <input
            type="text"
            class="form-control"
            name="apellido1"
            id="apellido1"
            onchange="fillEmail()"
            th:field="*{apellido1}"
            
          />
          <div
            th:if="${#fields.hasErrors('apellido1')}"
            th:errors="*{apellido1}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <div class="mb-3">
          <label for="apellido2" class="form-label">Apellido materno:</label>
          <input
            type="text"
            class="form-control"
            name="apellido2"
            onchange="fillEmail()"
            th:field="*{apellido2}"
            id="apellido2"
          />
          <div
            th:if="${#fields.hasErrors('apellido2')}"
            th:errors="*{apellido2}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <div class="mb-3">
          <label for="email1" class="form-label">Correo:</label>
          <input
            type="email"
            class="form-control"
            name="username"
            id="email1"
            th:field="*{username}"
            
          />
          <div
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <div class="mb-3">
          
          <input
            type="hidden"
            class="form-control"
            name="password"
            id="password"
            th:value="*{password}"
            
          />
          <div
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <div class="row mt-3">
          <div class="col col-6">
            <div class="mb-3">
              <label for="roles" class="form-label">Roles:</label>
              <br />
              <input
                type="checkbox"
                class="form-check-input mb-3"
                name="rols"
                th:text="Administrador"
                th:value="ROLE_ADMIN"
                th:field="*{rols}"
                id="rolAdmin"
              />
              <br />
              <input
                type="checkbox"
                class="form-check-input"
                name="rols"
                th:text="Empleado"
                th:value="ROLE_EMPLEADO"
                th:field="*{rols}"
                id="rolEmpleado"
              />
              <div
                th:if="${#fields.hasErrors('rols')}"
                th:errors="*{rols}"
                class="alert alert-danger mb-3 mt-3"
              ></div>
            </div>
          </div>
          <div class="col col-6">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{enabled}"
                value=true
                id="estadoActivo"
              />
              <label class="form-check-label" for="estado">Estado: Activo</label>
              <br />
              <input
              class="form-check-input"
              type="radio"
              th:field="*{enabled}"
              value=false
              id="estadoInactivo"
            />
            <label class="form-check-label" for="estado">Estado: Inactivo</label>
            </div>
          </div>
        </div>
        <button type="button" onclick="validacionesUserEdit()" class="btn btn-primary mt-3">Guardar</button>
      </form>
    </div>
    <script th:inline="javascript">
      function fillEmail() {
        var name = document.getElementById("nombre").value;
        var paterno = document.getElementById("apellido1").value;
        var materno = document.getElementById("apellido2").value;
        var cadena = name + paterno + materno;
        cadena = cadena.replace(/\s+/g, "").toLowerCase();
        document.getElementById("email1").value = cadena + "@utez.edu.mx";
      }
    </script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
     <!--Toast-->
     <script th:src="@{/js/toast.min.js}"></script>
     <script th:src="@{/js/validaciones.js}"></script>
     <script th:if="${msg_success != null}">
       new Toast({
         message: "[[${msg_success}]]",
         type: "success",
       });
     </script>
     <script th:if="${msg_errorUserUpdate != null}">
       new Toast({
         message: "[[${msg_errorUserUpdate}]]",
         type: "danger",
       });
     </script>
     <script
       src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
       integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
       crossorigin="anonymous"
     ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
       integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
       crossorigin="anonymous"
     ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
       integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
       crossorigin="anonymous"
     ></script>
  </body>
</html>
