<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <title>Inicio de sesión</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/usuarios/lista}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/transacciones/listar}">Transacciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/documentos/listar}">Documentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/servicios/listar}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/horarios/listar}">Horarios</a>
          </li>
        </ul>
        <form class="d-flex" th:action="@{/logout}" method="post">
          <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>Lista de usuarios</h1>
    <a th:href="@{/usuarios/registroUsuario}" class="btn btn-primary">Registrar nuevo usuario</a>
    <a th:href="@{/usuarios/listaBitacora}" class="btn btn-secondary">Bitacora de Usuarios</a>
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Roles</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" th:each=" user, index : ${userList}">
          <td th:text="${index.index + 1}" class="text-center align-middle"></td>
          <td th:text="${user.nombre + ' ' + user.apellido1 + ' ' + user.apellido2}" class="text-center align-middle">
          </td>
          <td th:text="${user.username}" class="text-center align-middle"></td>
          <td>
            <div th:each=" rol : ${user.rols}">
              <span th:if="${rol.name eq 'ROLE_USER'}" th:text="Solicitante" class="badge bg-success"></span>
              <span th:if="${rol.name eq 'ROLE_ADMIN'}" th:text="Administrador" class="badge bg-primary"></span>
              <span th:if="${rol.name eq 'ROLE_EMPLEADO'}" th:text="Empleado" class="badge bg-danger"></span>
            </div>
          </td>
          <td>
            <span th:text="${user.enabled} ? 'Activo' : 'Inactivo' "
              th:class="${user.enabled} ? 'badge bg-success' : 'badge bg-danger'"></span>
          </td>
          <td class="text-center align-middle">
          <td>
            <form th:action="@{/usuarios/editarUsuario}" method="post">
              <input type="hidden" th:value="${user.username}" name="username">
              <button class="btn btn-warning" type="submit">Editar</button>
            </form>
          </td>
          <td>
            <form th:action="@{/usuarios/detalleUsuario}" method="post">
              <input type="hidden" th:value="${user.username}" name="username">
              <button class="btn btn-primary" type="submit">Detalle</button>
            </form>
          </td>
          <td>
            <a th:href="@{/usuarios/eliminarUsuario/{username}(username = ${user.username})}"
              class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <!--Toast-->
  <script th:src="@{/js/toast.min.js}"></script>
  <script th:if="${msg_success != null}">
    new Toast({
      message: "[[${msg_success}]]",
      type: "success",
    });
  </script>
  <script th:if="${msg_errorUser != null}">
    new Toast({
      message: "[[${msg_errorUser}]]",
      type: "danger",
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>