<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Bitacora de Usuarios</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/usuarios/lista}"
                >Usuarios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/transacciones/listar}"
                >Transacciones</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/documentos/listar}"
                >Documentos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/servicios/listar}"
                >Servicios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/horarios/listar}"
                >Horarios</a
              >
            </li>
          </ul>
          <form class="d-flex" th:action="@{/logout}"   method="post">
            <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 style="margin-top: 50px;">Bitacora de Usuarios</h1>
      
      <table style="margin-top: 50px;" class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Username</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Accion</th>
                      </tr>
        </thead>
        <tbody>
          <tr class="text-center" th:each=" user, index : ${userListBitacora}">
            <td
              th:text="${index.index + 1}"
              class="text-center align-middle"
            ></td>
            <td
              th:text="${user.nombre + ' ' + user.apellido1 + ' ' + user.apellido2}"
              class="text-center align-middle"
            ></td>
            <td
              th:text="${user.username}"
              class="text-center align-middle"
            ></td>
            
            <td>
              <span
                th:text="${user.enabled} ? 'Activo' : 'Inactivo' "
                th:class="${user.enabled} ? 'badge bg-success' : 'badge bg-danger'"
              ></span>
            </td>
            <td
              th:text="${user.fecha}"
              class="text-center align-middle"
            ></td>
             <td
              th:text="${user.hora}"
              class="text-center align-middle"
            ></td>
             <td
              th:text="${user.accion}"
              class="text-center align-middle"
            ></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
     <!--Toast-->
     <script th:src="@{/js/toast.min.js}"></script>
     <script th:if="${msg_success != null}">
       new Toast({
         message: "[[${msg_success}]]",
         type: "success",
       });
     </script>
     <script th:if="${msg_errorUser != null}">
       new Toast({
         message: "[[${msg_errorUser}]]",
         type: "danger",
       });
     </script>
     <script
       src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
       integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
       crossorigin="anonymous"
     ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
       integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
       crossorigin="anonymous"
     ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
       integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
       crossorigin="anonymous"
     ></script>
  </body>
</html>
