<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Inicio de sesión</title>
  </head>
  <body>
    <div class="container">
      <h1>Detalles de usuario</h1>
      <a th:href="@{/usuarios/lista}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <div class="card">
        <h5 class="card-header">Información de [[${user.nombre}]]</h5>
        <div class="card-body">
          <h5 class="card-title">Nombre</h5>
          <p
            class="card-text"
            th:text="${user.nombre + ' ' + user.apellido1 + ' ' + user.apellido2}"
          ></p>
          <h5 class="card-title">Correo electrónico</h5>
          <p class="card-text" th:text="${user.username}"></p>
          <h5 class="card-title">Estado</h5>
          <p
            class="card-text"
            th:text="${user.enabled} ? 'Activo' : 'Inactivo'"
          ></p>
        </div>
      </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
