<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Generar transacción</h1>
      <a th:href="@{/transacciones/crearPago}" class="btn btn-primary mb-3">
        Generar Pago
      </a>
      <h2 class="mb-3">Nueva Transacción</h2>
      <form
        th:action="@{/transacciones/guardar}"
        method="POST"
        th:object="${transaccion}"
        enctype="multipart/form-data"
        id="formTransaccion"
      >
        <input type="hidden" th:field="*{idTransaccion}" />
        <div class="form-group col">
          
          <h3>
            <label>Monto por pagar</label>
            <br>
            <span style="color: white;" class="badge bg-secondary" th:text="${precio}"></span>
            <br>
            <label>Monto de la transacción</label>
          </h3>
          
          <input
            class="form-control form-control-lg"
            type="number"
            th:field="*{monto}"
            id="pago"
          />
          
        </div>
        <div
          th:if="${#fields.hasErrors('monto')}"
          th:errors="*{monto}"
          class="alert alert-danger mb-3 mt-3"
        ></div>
        <div class="form-group col">
          <input
            class="form-control form-control-lg"
            type="hidden"
            th:value="${idCita}"
            name="cita"
          />
        </div>
        <input
          type="hidden"
          value="true"
          name="estado"
        />
        <button type="button" onclick="transaccionValidacion()" class="btn btn-primary mt-3">
          Guardar
        </button>
      </form>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script th:inline="javascript">
      function transaccionValidacion(){
        var precio = [[${precio}]];
        var pago = document.getElementById('pago').value;
        var mensaje;
        if(precio != pago){
          mensaje= "Aun te queda por pagar";
          if(pago < precio){
            mensaje= "El monto ingresado no cubre el precio del servicio";
          }else{
            mensaje= "El monto excede el precio del servicio";
          }
        }else{
          var btn = document.getElementById("formTransaccion");
          document.body.append(btn);
          btn.submit();
        }

        new Toast({
        message: mensaje,
        type: "danger",
        });


      }
    </script>

  </body>
</html>
