<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <script src="https://www.paypal.com/sdk/js?client-id=AYYwZ0Y8vbcqbJP3gDCXdQlVyXQPuLO5ePg8QLg55uNBmUyzxALjtjb7eYTg3ww598aFh1Bh_4ULZnZD&components=buttons&currency=MXN"></script>
  </head>

  <body>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-7">
          <div class="card mt-3">
            <div class="card-body">
              <h1>Realizar pago</h1>
              <div id="paypal-button-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>

    <script>
      paypal
        .Buttons({
          style: {},
          createOrder: function (data, actions) {
            // Set up the transaction
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: "100",
                  },
                },
              ],
            });
          },

          onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
              // This function shows a transaction success message to your buyer.
              console.log(details);
            });
          },

          onCancel: function (data) {
            alert("Operacion Cancelada");
            console.log(data);
          },
        })
        .render("#paypal-button-container");
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
