<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Error 500</title>
  </head>
  <body>
    <div class="container">
      <div class="bg-light rounded-3 m-4 text-center">
        <img th:src="@{/img/error500.png}" />
        <div>
          <h5 class="mt-3 mb-3">Ha ocurrido un error en el servidor</h5>
          <a th:href="@{/}" class="btn btn-success">Volver al inicio</a>
        </div>
      </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
