<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Inicio</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col col-md-6 d-flex justify-content-center"
          th:each=" rol : ${roleList}"
        >
          <div
            class="card mt-4"
            style="width: 18rem"
            th:if="${rol.name eq 'ROLE_ADMIN'}"
          >
            <img th:src="@{img/admin.png}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Administrador</h5>
              <p class="card-text">Ingresar al sistema como administrador</p>
              <a th:href="@{/usuarios/lista}" class="btn btn-primary"
                >Ingresar</a
              >
            </div>
          </div>
          <div
            class="card mt-4"
            style="width: 18rem"
            th:if="${rol.name eq 'ROLE_EMPLEADO'}"
          >
            <img th:src="@{img/empleado.png}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Empleado</h5>
              <p class="card-text">Ingresar al sistema como empleado</p>
              <a th:href="@{/horarios/listar/personal}" class="btn btn-primary"
                >Ingresar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
