<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container"  sec:authorize="isAuthenticated()">
      <div class="bg-light rounded-3 m-4 text-center">
        <div style="margin-top: 100px;">
          <h4 class="mt-3 mb-3">Lo sentimos, ya te encuentras logueado</h4>
        </div>
        <img style="width: 400px; margin-top: 100px; margin-left: 75px;" th:src="@{/img/candado.png}" />
        <div>
          <h4 class="mt-3 mb-3">Regresa al sistema</h4>
          <a th:href="@{/}" class="btn btn-success">Volver al inicio</a>
        </div>
      </div>
    </div>
    <div class="container-fluid vh-100" style="margin-top: 50px" sec:authorize="isAuthenticated() == false">
      <div class="" style="margin-top: 50px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <img th:src="@{/img/logo.png}" class="img-fluid" />
            </div>
            <form th:action="@{/login}" method="post">
              <div class="p-4">
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary"
                    ><i class="bi bi-person-plus-fill text-white"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Correo"
                    name="username"
                    required
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text bg-primary"
                    ><i class="bi bi-key-fill text-white"></i
                  ></span>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                    name="password"
                  />
                </div>

                <button class="btn btn-primary text-center mt-4" type="submit">
                  Iniciar Sesión
                </button>
                <a
                  th:href="@{/usuarios/registroSolicitante}"
                  style="margin-left: 15px"
                >
                  Registrate
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/validaciones.js}"></script>
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorSolicitanteUpdate != null}">
      new Toast({
        message: "[[${msg_errorSolicitanteUpdate}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    
  
  </body>
</html>
