<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    
    <title>Registro de solicitante</title>
  </head>
  <body>
    <div class="container">
      <h1>Registrar solicitante</h1>
      <a th:href="@{/}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <form id="formRegistroSolicitante" th:action="@{/usuarios/guardarSolicitante}" method="post">
        <div th:object="${solicitante}">
          <div class="mb-3">
            <label for="matricula" class="form-label">Matricula:</label>
            <input
              type="text"
              class="form-control"
              name="matricula"
              id="matricula"
              onchange="fillEmail()"
              th:field="*{matricula}"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('matricula')}"
            th:errors="*{matricula}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono:</label>
            <input
              type="tel"
              class="form-control"
              name="telefono"
              id="telefono"
              th:field="*{telefono}"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('telefono')}"
            th:errors="*{telefono}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <select
            class="form-select"
            aria-label="Default select example"
            name="carrera"
          >
            <option value="" selected>Selecciona tu carrera</option>
            <option
              id="selectCarrera"
              th:each=" carrera : ${carreraList}"
              th:value="${carrera.id}"
              th:text="${carrera.nombre}"
              th:field="*{carrera}"
            ></option>
          </select>
          <div
            th:if="${#fields.hasErrors('carrera')}"
            th:errors="*{carrera}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
        </div>
        <hr />
        <div th:object="${user}">
          <div class="mb-3">
            <label for="email1" class="form-label">Correo:</label>
            <input
              type="email"
              class="form-control"
              name="username"
              th:field="*{username}"
              id="email1"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              th:field="*{nombre}"
              id="nombre"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('nombre')}"
            th:errors="*{nombre}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <div class="mb-3">
            <label for="apellido1" class="form-label">Apellido paterno:</label>
            <input
              type="text"
              class="form-control"
              name="apellido1"
              id="apellido1"
              th:field="*{apellido1}"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('apellido1')}"
            th:errors="*{apellido1}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <div class="mb-3">
            <label for="apellido2" class="form-label">Apellido materno:</label>
            <input
              type="text"
              class="form-control"
              name="apellido2"
              id="apellido2"
              th:field="*{apellido2}"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('apellido2')}"
            th:errors="*{apellido2}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              th:field="*{password}"
              
            />
          </div>
          <div
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            class="alert alert-danger mb-3 mt-3"
          ></div>
          <input
              
              type="hidden"
              name="enabled"
              value="true"
             
          />
        </div>
        <input
          type="hidden"
          class="form-control"
          name="rols"
          th:value="ROLE_USER"
        />

        <button type="button" onclick="validacionesSolicitante()" class="btn btn-primary mt-3">Registrar</button>
      </form>
    </div>
    <script th:inline="javascript">
      function fillEmail() {
        var mat = document.getElementById("matricula").value.toLowerCase();
        console.log(mat);
        document.getElementById("email1").value = mat + "@utez.edu.mx";
      }
    </script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorSolicitanteUpdate != null}">
      new Toast({
        message: "[[${msg_errorSolicitanteUpdate}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/validaciones.js}"></script>
    <script th:src="@{/js/toast.min.js}"></script>

  </body>
</html>
