<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  </head>

  <body>
    <div class="container-fluid">
      <h1 class="mb-3">Nuevo Servicio</h1>
      <a th:href="@{/servicios/listar}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <form
        th:action="@{/servicios/guardar}"
        method="POST"
        th:object="${servicio}"
        id="formServicio"
      >
        <div class="row">
          <div class="col col-md-6">
            <input type="hidden" th:field="*{idServicio}" />
            <div class="form-group col">
              <label>Nombre</label>
              <input
                class="form-control form-control-lg"
                type="text"
                th:field="*{nombre}"
                id="nombreServicio"
              />
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group col">
              <label>Precio</label>
              <input
                class="form-control form-control-lg"
                type="number"
                th:field="*{precio}"
                id="precioServicio"
              />
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group col">
              <label>Descripcion</label>
              <input
                class="form-control form-control-lg"
                type="text"
                th:field="*{descripcion}"
                id="descripcionServicio"
              />
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group" style="margin-top: 10px">
              <label for="roles" class="form-label">Documentos:</label>
              <br />
              <div th:each="documento: ${listaDocumentos}">
                <input
                  type="checkbox"
                  class="form-check-input mb-3"
                  name="documento"
                  th:text="${documento.nombre}"
                  th:value="${documento.idDocumento}"
                  th:field="*{documento}"
                  id="documentosLista"
                />
              </div>
            </div>
          </div>
          <input
              type="hidden"
              name="estado"
              th:value="true"
          />
        </div>
        <button type="button" onclick="validarServicioRegistro()" class="btn btn-primary mt-3">Guardar</button>
      </form>
    </div>
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:src="@{/js/validaciones.js}"></script>
    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
