<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/usuarios/lista}"
                >Usuarios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/transacciones/listar}"
                >Transacciones</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/documentos/listar}"
                >Documentos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/servicios/listar}"
                >Servicios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/horarios/listar}"
                >Horarios</a
              >
            </li>
          </ul>
          <form class="d-flex" th:action="@{/logout}" method="post">
            <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Listado de Servicios</h1>
      <a th:href="@{/servicios/crear}" class="btn btn-primary mb-3">
        Nuevo Servicio
      </a>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Servicio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Documentos</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            th:each="tmpServicio, index : ${listaServicios}"
            class="text-center"
          >
            <th scope="row"></th>
            <td th:text="${index.index + 1}"></td>
            <td th:text="${tmpServicio.nombre}"></td>
            <td th:text="${tmpServicio.descripcion}"></td>
            <td th:text="${tmpServicio.precio}"></td>
            <td th:text="${#lists.size(tmpServicio.documento)}"></td>
            <td>
              <span
                th:text="${tmpServicio.estado} ? 'Activo' : 'Inactivo' "
                th:class="${tmpServicio.estado} ? 'badge bg-success' : 'badge bg-danger'"
              ></span>
            </td>
            <td>
              <form th:action="@{/servicios/editar}" method="post">
                <input type="hidden" th:value="${tmpServicio.idServicio}" name="idServicio">
                <button  class="btn btn-warning" type="submit">Editar</button>
              </form>
            </td>
            <td>
              <form th:action="@{/servicios/mostrar}" method="post">
                <input type="hidden" th:value="${tmpServicio.idServicio}" name="idServicio">
                <button class="btn btn-primary" type="submit">Detalle</button>
              </form>
            </td>
            <td>
              <a
                th:href="@{/servicios/eliminar/{id} (id=${tmpServicio.idServicio})}"
                th:class="${tmpServicio.estado ? 'btn btn-danger' : 'btn btn-success'}"
                th:text="${tmpServicio.estado ? 'Desactivar' : 'Activar'}"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorEliminar != null}">
      new Toast({
        message: "[[${msg_errorEliminar}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
