<!DOCTYPE html>
<html>
  <head>
    <title>Detalle de Servicio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <h1>Detalle de Servicio</h1>
      <a th:href="@{/servicios/listar}" class="btn btn-primary mt-3 mb-3"
        >Regresar</a
      >
      <div class="card">
        <h5 class="card-header">Información de [[${servicio.nombre}]]</h5>
        <div class="card-body">
          <h5 class="card-title">Descripción</h5>
          <p class="card-text" th:text="${servicio.descripcion}"></p>
          <h5 class="card-title">Precio:</h5>
          <p class="card-text" th:text="${'$ ' + servicio.precio}"></p>
          <h5 class="card-title">Documentos Requeridos:</h5>
          <div th:each=" tmpDocumento : ${servicio.documento}">
            <p class="card-text" th:text="${tmpDocumento.nombre}"></p>
          </div>
          
        </div>
      </div>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
      new Toast({
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>
    <script th:if="${msg_errorMostrar != null}">
      new Toast({
        message: "[[${msg_errorMostrar}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
